.flexbox-row {
    display: flex;
    flex-direction: row;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}

.box {
    border-width:
}

p {
    color: #666;
}

h2 {
    color: #2b2b2b2;
}

.icon {
    width: 50px;
}

.left {
    padding-right: 50px;
}